In [50]:
# !pip install tensorflow

In [51]:
# pip install -U pip

In [52]:
# pip install tensorflow

In [53]:
# pip install ipykernal

In [54]:
# pip install --upgrade pip

In [55]:
# pip uninstall -y numpy pandas

In [56]:
# pip install numpy pandas

In [57]:
# pip install numpy==1.26.4 pandas==2.2.2

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

import warnings
warnings.filterwarnings('ignore')

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder

import pickle

In [60]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [61]:
df.drop(columns = ['RowNumber','CustomerId','Surname'],inplace = True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [62]:
# Encoding the categorical variables

lb = LabelEncoder()
df['Gender'] = lb.fit_transform(df['Gender'])

In [63]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  int32
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int32(1), int64(7), object(1)
memory usage: 820.4+ KB

In [65]:
# dummies = pd.get_dummies(df['Geography'], dtype='int64', drop_first=True)
# df = pd.concat([df.drop('Geography', axis=1), dummies], axis=1)

In [66]:
# df.head()

In [67]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
geo_encoder = ohe.fit_transform(df[['Geography']])

In [68]:
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [69]:
# ohe.get_feature_names_out()
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [70]:
geo_df = pd.DataFrame(geo_encoder.toarray(),columns = ohe.get_feature_names_out(['Geography']))

In [71]:
geo_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [72]:
#concatinating

df = pd.concat([df.drop(columns = ['Geography']),geo_df],axis = 1)

In [73]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [74]:
# Save the encoders and scalers
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(lb,file)
    
with open('ohehot_encoder_geo.pkl','wb') as file:
    pickle.dump(ohe,file)

In [75]:
## Divide the dataset into indepent and dependent features

x = df.drop(columns = ['Exited'])
y = df[['Exited']]


# Splitting the data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify = y)

# Scaling
ss = StandardScaler()
x_train = ss.fit_transform(x_train)
x_test = ss.transform(x_test)

In [76]:
with open('scalar.pkl','wb') as file:
    pickle.dump(ss,file)

## ANN Implementation

In [77]:
# pip uninstall -y tensorflow

In [78]:
# pip install tensorflow==2.15.0

In [79]:
import tensorflow as tf
print(tf.__version__)

2.15.0

In [80]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard

import datetime

In [81]:
## Build ANN Model

model = Sequential([
    Dense(64,activation= 'relu',input_shape = (x_train.shape[1],)) ,# HL1 connected with input layer
    Dense(32,activation = 'relu') ,# HL2
    Dense(1,activation = 'sigmoid'), # Output  layer
    
])

In [82]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [83]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01)

In [84]:
model.compile(optimizer= opt, loss = 'binary_crossentropy',metrics = ['accuracy'])

In [85]:
## Set the tensorBoard - Use to store the logs (To visualize all the logs)

from tensorflow.keras.callbacks import TensorBoard,EarlyStopping

log_dir = 'logs/fit' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [86]:
## Set up the Early Stopping - if the loss is not decreasing it stops the execution

early_stopping_callback = EarlyStopping(monitor='val_loss',patience = 40,restore_best_weights=True)

In [87]:
history = model.fit(
    x_train,y_train,validation_data = (x_test,y_test),epochs= 100,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3938 - accuracy: 0.8332 - val_loss: 0.3665 - val_accuracy: 0.8530
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3558 - accuracy: 0.8534 - val_loss: 0.3584 - val_accuracy: 0.8610
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3466 - accuracy: 0.8577 - val_loss: 0.3575 - val_accuracy: 0.8595
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3426 - accuracy: 0.8605 - val_loss: 0.3572 - val_accuracy: 0.8585
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3420 - accuracy: 0.8608 - val_loss: 0.3498 - val_accuracy: 0.8605
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3374 - accuracy: 0.8589 - val_loss: 0.3584 - val_accuracy: 0.8620
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8614 - val_loss: 0.3649 - val_accuracy: 0.8555
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8605 - val_loss: 0.3566 - val_accuracy: 0.8575
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8629 - val_loss: 0.3519 - val_accuracy: 0.8535
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3297 - accuracy: 0.8624 - val_loss: 0.3532 - val_accuracy: 0.8525
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3300 - accuracy: 0.8625 - val_loss: 0.3443 - val_accuracy: 0.8595
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3269 - accuracy: 0.8637 - val_loss: 0.3480 - val_accuracy: 0.8630
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3254 - accuracy: 0.8655 - val_loss: 0.3556 - val_accuracy: 0.8560
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3220 - accuracy: 0.8669 - val_loss: 0.3597 - val_accuracy: 0.8565
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3214 - accuracy: 0.8633 - val_loss: 0.3666 - val_accuracy: 0.8570
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3234 - accuracy: 0.8654 - val_loss: 0.3589 - val_accuracy: 0.8620
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3159 - accuracy: 0.8698 - val_loss: 0.3558 - val_accuracy: 0.8605
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3179 - accuracy: 0.8675 - val_loss: 0.3678 - val_accuracy: 0.8585
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3159 - accuracy: 0.8677 - val_loss: 0.3615 - val_accuracy: 0.8620
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3124 - accuracy: 0.8696 - val_loss: 0.3723 - val_accuracy: 0.8625
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3094 - accuracy: 0.8725 - val_loss: 0.3754 - val_accuracy: 0.8545
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3090 - accuracy: 0.8726 - val_loss: 0.3575 - val_accuracy: 0.8580
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3082 - accuracy: 0.8730 - val_loss: 0.3710 - val_accuracy: 0.8670
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3052 - accuracy: 0.8746 - val_loss: 0.3767 - val_accuracy: 0.8610
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3026 - accuracy: 0.8737 - val_loss: 0.3745 - val_accuracy: 0.8555
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3011 - accuracy: 0.8759 - val_loss: 0.3821 - val_accuracy: 0.8555
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2974 - accuracy: 0.8761 - val_loss: 0.3958 - val_accuracy: 0.8550
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2961 - accuracy: 0.8764 - val_loss: 0.3764 - val_accuracy: 0.8585
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2936 - accuracy: 0.8801 - val_loss: 0.4051 - val_accuracy: 0.8550
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2945 - accuracy: 0.8801 - val_loss: 0.3843 - val_accuracy: 0.8580
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2896 - accuracy: 0.8791 - val_loss: 0.3952 - val_accuracy: 0.8595
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2905 - accuracy: 0.8788 - val_loss: 0.3879 - val_accuracy: 0.8560
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2885 - accuracy: 0.8770 - val_loss: 0.3916 - val_accuracy: 0.8605
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2842 - accuracy: 0.8810 - val_loss: 0.3804 - val_accuracy: 0.8645
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2848 - accuracy: 0.8819 - val_loss: 0.3829 - val_accuracy: 0.8600
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2811 - accuracy: 0.8829 - val_loss: 0.4004 - val_accuracy: 0.8605
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2776 - accuracy: 0.8842 - val_loss: 0.4151 - val_accuracy: 0.8555
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2764 - accuracy: 0.8835 - val_loss: 0.3943 - val_accuracy: 0.8560
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2746 - accuracy: 0.8855 - val_loss: 0.4163 - val_accuracy: 0.8590
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2772 - accuracy: 0.8831 - val_loss: 0.4165 - val_accuracy: 0.8525
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2697 - accuracy: 0.8869 - val_loss: 0.4132 - val_accuracy: 0.8525
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2691 - accuracy: 0.8878 - val_loss: 0.4097 - val_accuracy: 0.8535
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2660 - accuracy: 0.8891 - val_loss: 0.4402 - val_accuracy: 0.8495
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2675 - accuracy: 0.8869 - val_loss: 0.4375 - val_accuracy: 0.8485
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2647 - accuracy: 0.8914 - val_loss: 0.4378 - val_accuracy: 0.8515
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2636 - accuracy: 0.8935 - val_loss: 0.4297 - val_accuracy: 0.8550
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2587 - accuracy: 0.8921 - val_loss: 0.4461 - val_accuracy: 0.8500
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2560 - accuracy: 0.8947 - val_loss: 0.4407 - val_accuracy: 0.8605
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2570 - accuracy: 0.8919 - val_loss: 0.4699 - val_accuracy: 0.8395
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2575 - accuracy: 0.8904 - val_loss: 0.4560 - val_accuracy: 0.8440
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2593 - accuracy: 0.8926 - val_loss: 0.4608 - val_accuracy: 0.8480

In [88]:
model.save('model.h5')

In [89]:
# Load TensorBoard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [92]:
%tensorboard --logdir logs/fit20250615-103348

Reusing TensorBoard on port 6010 (pid 10560), started 0:00:01 ago. (Use '!kill 10560' to kill it.)